<!doctype html>
<title>Home | BYOD</title>
<link rel="stylesheet" type="text/css" href="/static/style/spectre.css">
<style>
  body {
    background: url(/static/img/bg-grid.png) repeat;
  }
</style>

<div id="app"></div>
<script src="/static/pages/admin.bundle.js"></script>
