<!doctype html>
<title>Sign In | BYOD</title>
<link rel="stylesheet" type="text/css" href="/static/style/spectre.css">
<style>
  body {
    background: url(/static/img/splash.jpg) no-repeat center center fixed;
    background-size: cover;
  }
</style>

<div id="app"></div>
<script src="/static/pages/sign-in.bundle.js"></script>
